#DO NOT CHANGE
#these folders are ignored from the git....

/Code/NextGenStockMarketAPI/NextGenStockMarketAPI/bin/*
/Code/NextGenStockMarketAPI/NextGenStockMarketAPI/obj/*

/Code/NextGenStockMarketAPI/NextGenStockMarket.Service/bin/*
/Code/NextGenStockMarketAPI/NextGenStockMarket.Service/obj/*

/Code/NextGenStockMarketAPI/NextGenStockMarket.Data/obj/*
/Code/NextGenStockMarketAPI/NextGenStockMarket.Data/bin/*


/Code/NextGenStockMarketAPI/NextGenStockMarketAPI.Tests/obj/*
/Code/NextGenStockMarketAPI/NextGenStockMarketAPI.Tests/bin/*

/Code/NextGenStockMarketAPI/.vs/*




/Code/NextGenStockMarketAPI/.vs/NextGenStockMarketAPI/v15/Server/sqlite3/*
/Code/NextGenStockMarketAPI/packages/*


