.equal, .equal > div[class*='col-'] {  
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex:1 0 auto;
  }


.bg {
    /* The image used */
    background-image: url("/assets/images/bg5.jpg");
    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

 #model{
   background-image: url("/assets/images/bg5.jpg");
   opacity: 0.5;
 }
h1{
  line-height: 30px;
  margin-bottom:50px;
}


div.d2 p {
  font-weight: bold;
  color: #000000;
  
}

.black-background {
  background-color:rgb(41, 38, 211);
}
.white {
  color:#ffffff;
}
#d1{
 /*margin-left: 600px;*/
  margin-top: 100px;
}
#d2{
  /*margin-left: 600px;*/
  margin-top: 50px;
   width: 400px;
}
.h2,h2 {

 font-size: 3rem;
 text-shadow: 1px 1px;
}
