<body class="bg">
<div class="container" style=" height: 796px;">
  

  <div class="modal-body row" style="">
    <div class="col-md-6 transbox" style=" margin-top: 190px;">
      <h5><p style="color: mediumblue">Register to Play</p></h5>
        <div class="form-group">
          <label for="usr"><h6 style="color: indigo">Enter Player Name:</h6></label>
          <input type="text" class="form-control" id="usr" style="background-color:rgb(186, 185, 250)" [(ngModel)]="playerName">
          <small *ngIf="playerName =='' && isFormSubmitted">
              Player Name is Required
          </small>
        </div>
        <button class="btn btn-default black-background white" (click)="createPlayer()">Create Player</button>
    </div>

    <div class="col-md-6 transbox" style=" margin-top: 190px;">
      <h5><p style="color: mediumblue">If you are already registerd</p></h5>
        <div class="form-group">
          <label for="usr"><h6 style="color: indigo">Enter Player Name:</h6></label>
          <input type="text" class="form-control" id="usr" style="background-color:rgb(186, 185, 250)" [(ngModel)]="existingPlayerName">
          <small *ngIf="existingPlayerName =='' && isFormSubmitted">
              Player Name is Required
          </small>
        </div>
        <button class="btn btn-default black-background white" (click)="checkExistingPlayer()">Play</button>
    </div>
  </div>

</div>
</body>