<body>
  <img src="assets/images/bg.png" id="bg" alt="">

  <div id="loader">
    <img src="assets/images/logo.png" style="max-width:40%;max-height:40%;" alt="">
  </div>

  
    <div class="container">
      <form class="form">
        <h1>Register to Play</h1>
        <div class="form-group">
          <input type="text" class="form-control" id="usr" placeholder="Username" [(ngModel)]="playerName" [ngModelOptions]="{standalone: true}">
          <small *ngIf="playerName =='' && isFormSubmitted" class="red">
            Player Name is Required
          </small>
        </div>
        <button class="btn btn-default black-background white" (click)="createPlayer()">Create Player</button>
        <h1>If you are already registerd</h1>
        <div class="form-group">
          <input type="text" class="form-control" id="usr" placeholder="Username" [(ngModel)]="existingPlayerName" [ngModelOptions]="{standalone: true}">
          <small *ngIf="existingPlayerName =='' && isFormSubmitted" class="red">
            Player Name is Required
          </small>
        </div>
        <button class="btn btn-default black-background white" (click)="checkExistingPlayer()">Play</button>
      </form>

  </div>
</body>