.block{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(229, 229, 229, 0.4392156862745098);
}

.block[hidden]{
 display: none;
}