<app-sidebar></app-sidebar>
<app-block-ui [isBlocked]="isBlocked" [loadMessage]="this.message"></app-block-ui>
<div class="modal-body bgtbls" style="margin-left: 250px">
  <div class="row row-flex-box" style="background: #cbd0d8;">
    <div class="col-xs-6 col-sm-6 col-md-3">
      <div class="thumbnail flex-col-vertical-center">
        <div class="caption">
          <H5 class="black">
            <span>
              <strong>Balance:</strong>
            </span>
            <span>${{this.balance}}</span>
          </H5>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-6  col-md-3">
      <div class="thumbnail flex-col-vertical-center">
        <div class="caption">
          <H5 class="black">
            <span>
              <strong>Currnt Turn:</strong>
            </span>
            <span>{{currentTurn}}</span>
          </H5>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-6  col-md-3">
      <div class="thumbnail flex-col-vertical-center">
        <div class="caption">
          <H5 class="black">
            <span>
              <strong>Total # of Turns:</strong>
            </span>
            <span>{{totalTurns}}</span>
          </H5>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-6  col-md-3">
      <div class="thumbnail homepage-slider-bottom-block-single flex-col-vertical-center">
        <div class="caption">
          <H5 class="black">
            <span>
              <strong>Player:</strong>
            </span>
            <span>{{this.player}}</span>
          </H5>
        </div>
      </div>
    </div>
  </div>

  <div class="row row-flex-box" style="margin-top: 10px;">
    <div class="container">
      <div class="row">
        <div class="space sm-col-3">
          <h4>
            <font style="color: blue">G</font><font style="color: rgb(226, 27, 27)">o</font><font style="color: yellow">o</font><font style="color: blue">g</font><font style="color: rgb(5, 141, 5)">l</font><font style="color: rgb(226, 27, 27)">e</font> LLC</h4>
          <table class="table table-bordered table-striped trans white">
            <thead>
              <tr>
                <th>Sector</th>
                <th>Price</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let sector of this.google" class="white">
                <td>{{sector.SectorName}}</td>
                <td>{{sector.StockPrice|number:'1.2-2'}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="space sm-col-3">
          <h4>
            <font style="color: #6c20c9">Yahoo!</font>
            <font style="color: #6c20c9; font-size: 20px;"> Stock Details</font>
          </h4>
          <table class="table table-bordered table-striped trans white">
            <thead>
              <tr>
                <th>Sector</th>
                <th>Price</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let sector of this.yahoo" class="white">
                <td>{{sector.SectorName}}</td>
                <td>{{sector.StockPrice|number:'1.2-2'}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="space sm-col-3">
          <h4>
            <font style="color: rgb(44, 150, 44)">Microsoft</font>
            <font style="color: rgb(44, 150, 44); font-size: 20px;"> Corporation</font>
          </h4>
          <table class="table table-bordered table-striped trans white">
            <thead>
              <tr>
                <th>Sector</th>
                <th>Price</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let sector of this.microsoft" class="white">
                <td>{{sector.SectorName}}</td>
                <td>{{sector.StockPrice|number:'1.2-2'}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="space sm-col-3">
          <h4 style="align-content: center;">
            <font style="color: rgb(243, 116, 70)">amazon</font>
            <font style="color: rgb(243, 116, 70); font-size: 20px;">.com Inc.</font>
          </h4>
          <table class="table table-bordered table-striped trans white">
            <thead>
              <tr>
                <th>Sector</th>
                <th>Price</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let sector of this.amazon" class="white">
                <td>{{sector.SectorName}}</td>
                <td>{{sector.StockPrice|number:'1.2-2'}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <hr/>

  <div class="form-group">
    <div class="row">
      <div class="col-5 transbox white col-md-offset-2" style="margin-right: 5%; margin-left: 5%; padding:15px; ">
        <label style="margin-left: 48%;">
          <h5 class="white">
             BUY 
          </h5>
        </label>
        <div class="row">
          <div class="col-9">
            <label>
              <b> Select Sector : </b>
            </label>
            <select class="form-control" [(ngModel)]="selectedSector" (change)="getStocks()">
              <option>Select a Sector</option>
              <option *ngFor="let sector of sectors">{{sector}}</option>
            </select>
            <small *ngIf="selectedSector == undefined && isFormSubmitted">
              Sector is Required
            </small>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <label>
              <b> Select stock : </b>
            </label>
            <select class="form-control" [(ngModel)]="selectedStock" (change)="loadPrice()">
              <option selected>Select a Stock</option>
              <option *ngFor="let stock of stocks">{{stock.SectorName}}</option>
            </select>
            <small *ngIf="selectedStock ==undefined && isFormSubmitted">
              Stock is Required
            </small>
          </div>
          <div class="col-3">
            <label>
              <b> Price : </b>
            </label>
            <input type="text" class="form-control" value={{this.stockPrice}} disabled>
            <small *ngIf="selectedSector == null && isFormSubmitted">
              Stock Price is Required
            </small>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <label>
              <b> Stock Quantity : </b>
            </label>
            <input type="number" [min]=0 class="form-control" [(ngModel)]="stockQuantity" (change)=calculateTotalAmount()>
            <small *ngIf="stockQuantity == null  && isFormSubmitted" class="red">
              Stock quantity is Required
            </small>
          </div>
        </div>
        <hr size="20">
        <div class="row">
          <div class="col-6">
            <label>
              <b> Stock Total : </b>
            </label>
            <input type="number" class="form-control" [(ngModel)]="totalAmount" disabled>
          </div>
          <div class="col-6" style="position: relative;">
            <button type="button" class="btn btn-success col-6" style="background: darkgreen;position: absolute; bottom: 0;" (click)="buyStocks()">Buy</button>
          </div>
        </div>
      </div>
      <div class="col-6" *ngIf="!isStockBought">
        <label>There are no available stocks to sell</label>
      </div>
    
      <div class="col-5 transbox white" *ngIf="isStockBought" style="padding:15px; ">
        <label style="margin-left: 48%;">
          <h5 class="white">
            SELL
          </h5>
        </label>
        <div class="row">
          <div class="col-9">
            <label>
              <b> Select Purchased Stock : </b>
            </label>
            <select class="form-control" [(ngModel)]="selectedPurchasedStock" (change)="getCurrentStockPrice()">
              <option>Select a Stock</option>
              <option *ngFor="let stock of purchasedStock">{{stock.Sector}} - {{stock.Stock}}</option>
            </select>
            <small *ngIf="selectedPurchasedStock == undefined  && isFormSubmitted" class="red">
              Stock is Required
            </small>
          </div>
        </div>
        <div class="row">
          <div class="col-5">
            <label>
              <b> Purchased Quantity : </b>
            </label>
            <input type="number" class="form-control" [(ngModel)]="availableQuantity" disabled>
          </div>
          <div class="col-4">
            <label>
              <b> Purchased Price : </b>
            </label>
            <input type="number" class="form-control" [(ngModel)]="purchasedPrice" disabled>
          </div>
        </div>
        <div class="row">
          <div class="col-5">
            <label>
              <b> Current Price : </b>
            </label>
            <input type="number" class="form-control" [(ngModel)]="currentStockPrice" disabled>
          </div>
          <div class="col-4">
            <label>
              <b> Income : </b>
            </label>
            <input type="number" class="form-control" [(ngModel)]="income" disabled>
          </div>
        </div>
        <div class="row">
          <div class="col-6" style="margin-top: 10px;">
            <button type="button" class="btn btn-success col-6" style="background: darkgreen; margin-top: 20%;" (click)="sellStocks()">Sell</button>
          </div>
        </div>
      </div>
    </div>

    <div id="LoadIcon" style="margin-left: 10%">
      <img id="google" src="assets/images/google.png" alt="">
      <img id="amazon" src="assets/images/amazon1.png" alt="">
      <img id="yahoo" src="assets/images/yahoo.png" alt="">
      <img id="microsoft" src="assets/images/microsoft.png" alt="">
    </div>

  </div>



</div>