<app-sidebar></app-sidebar>
<app-block-ui [isBlocked]="isBlocked" [loadMessage]="this.message"></app-block-ui>
<div class="modal-body" style="background: #d6e5ff;margin-left: 250px">
  <div class="row row-flex-box" style="background: #cbd0d8;">
    <div class="col-xs-6 col-sm-6 col-md-3">
      <div class="thumbnail flex-col-vertical-center">
        <div class="caption">
          <H5>
            <span>
              <strong>Balance:</strong>
            </span>
            <span>${{this.balance}}</span>
          </H5>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-6  col-md-3">
      <div class="thumbnail flex-col-vertical-center">
        <div class="caption">
          <H5>
            <span>
              <strong>Currnt Turn:</strong>
            </span>
            <span>{{currentTurn}}</span>
          </H5>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-6  col-md-3">
      <div class="thumbnail flex-col-vertical-center">
        <div class="caption">
          <H5>
            <span>
              <strong>Total # of Turns:</strong>
            </span>
            <span>{{totalTurns}}</span>
          </H5>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-6  col-md-3">
      <div class="thumbnail homepage-slider-bottom-block-single flex-col-vertical-center">
        <div class="caption">
          <H5>
            <span>
              <strong>Player:</strong>
            </span>
            <span>{{this.player}}</span>
          </H5>
        </div>
      </div>
    </div>
  </div>

  <div class="row row-flex-box" style="margin-top: 10px; background: white;">
    <div class="container">
      <div class="row">
        <div class="space sm-col-3">
          <h4>Google LLC</h4>
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Sector</th>
                <th>Price</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let sector of this.google">
                <td>{{sector.SectorName}}</td>
                <td>{{sector.StockPrice|number:'1.2-2'}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="space sm-col-3">
          <h4>Yahoo! Inc.</h4>
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Sector</th>
                <th>Price</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let sector of this.yahoo">
                <td>{{sector.SectorName}}</td>
                <td>{{sector.StockPrice|number:'1.2-2'}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="space sm-col-3">
          <h4>Microsoft Corporation</h4>
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Sector</th>
                <th>Price</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let sector of this.microsoft">
                <td>{{sector.SectorName}}</td>
                <td>{{sector.StockPrice|number:'1.2-2'}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="space sm-col-3">
          <h4>Amazon.com Inc.</h4>
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Sector</th>
                <th>Price</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let sector of this.amazon">
                <td>{{sector.SectorName}}</td>
                <td>{{sector.StockPrice|number:'1.2-2'}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-6"> BUY
        <div class="row">
          <div class="col-9">
            <label> Select Company (Stock) : </label>
            <select class="form-control" [(ngModel)]="selectedSector" (change)="getStocks()">
              <option>Select a Company (Stock)</option>
              <option *ngFor="let sector of sectors">{{sector}}</option>
            </select>
            <small *ngIf="selectedSector == undefined && isFormSubmitted">
              Company (Stock) name is Required
            </small>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <label> Select Sector : </label>
            <select class="form-control" [(ngModel)]="selectedStock" (change)="loadPrice()">
              <option selected>Select a Sector</option>
              <option *ngFor="let stock of stocks">{{stock.SectorName}}</option>
            </select>
            <small *ngIf="selectedStock ==undefined && isFormSubmitted">
              Sector is Required
            </small>
          </div>
          <div class="col-3">
            <label> Price : </label>
            <input type="text" class="form-control" value={{this.stockPrice}} disabled>
            <small *ngIf="selectedSector == null && isFormSubmitted">
              Stock Price is Required
            </small>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <label> Stock Quantity : </label>
            <input type="number" [min]=0 class="form-control" [(ngModel)]="stockQuantity" (change)=calculateTotalAmount()>
            <small *ngIf="stockQuantity == null  && isFormSubmitted">
              Stock quantity is Required
            </small>
          </div>
        </div>
        <hr size="20">
        <div class="row">
          <div class="col-6">
            <label>Stock Total :</label>
            <input type="number" class="form-control" [(ngModel)]="totalAmount" disabled>
          </div>
          <div class="col-3">
            <button type="button" class="btn btn-success" (click)="buyStocks()">Buy</button>
          </div>
        </div>
      </div>
      <div class="col-6" *ngIf="!isStockBought">
        <label>There are no available stocks to sell</label>
      </div>
      <div class="col-6" *ngIf="isStockBought"> SELL
        <div class="row">
          <div class="col-9">
            <label> Select Purchased Stock : </label>
            <select class="form-control" [(ngModel)]="selectedPurchasedStock" (change)="getCurrentStockPrice()">
              <option>Select a Stock</option>
              <option *ngFor="let stock of purchasedStock">{{stock.Sector}} - {{stock.Stock}}</option>
            </select>
            <small *ngIf="selectedPurchasedStock == undefined  && isFormSubmitted">
              Stock quantity is Required
            </small>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <label>Purchased Quantity :</label>
            <input type="number" class="form-control" [(ngModel)]="availableQuantity" disabled>
          </div>
          <div class="col-5">
            <label>Purchased Price :</label>
            <input type="number" class="form-control" [(ngModel)]="purchasedPrice" disabled>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <label>Current Price :</label>
            <input type="number" class="form-control" [(ngModel)]="currentStockPrice" disabled>
          </div>
          <div class="col-5">
            <label>Income :</label>
            <input type="number" class="form-control" [(ngModel)]="income" disabled>
          </div>
        </div>
        <div class="row">
          <div class="col-9">
            <button type="button" class="btn btn-success" (click)="sellStocks()">Sell</button>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>