.row-flex-box {
  display: flex; /* make cols same heigh */
  flex-wrap: wrap; /* alows responsive behavior of cols (otherwise cols will never break on mobile)*/
}

.flex-col-vertical-center {
  display: flex; /* specifing display/flex-direction/justifi-content only because i want to have text aligned in the middle of boxes much cleaner than display:table-cell way*/
  flex-direction: column;
  justify-content: center;
  text-align:center;
  height: 100%; /* since cols have bigger height this has effect, also can be ussefull - height: calc(100% - 15px); with 15px bottom margin */
}

.row-flex-box {
  display: flex; /* make cols same heigh */
  flex-wrap: wrap; /* alows responsive behavior of cols (otherwise cols will never break on mobile)*/
}
.col-flex-box {
  display: flex; /* make cols same heigh */
  flex-wrap: wrap; /* alows responsive behavior of cols (otherwise cols will never break on mobile)*/
}
.flex-col-vertical-center {
  display: flex; /* specifing display/flex-direction/justifi-content only because i want to have text aligned in 

the middle of boxes much cleaner than display:table-cell way*/
  flex-direction: column;
  justify-content: center;
  text-align:center;
  height: 100%; /* since cols have bigger height this has effect, also can be ussefull - height: calc(100% - 

15px); with 15px bottom margin */
} 
/*navigation bar*/
  #wrapper {
padding-left: 250px;
transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
margin-left: -250px;
left: 250px;
width: 250px;
background: #000;
position: fixed;
height: 100%;
overflow-y: auto;
z-index: 1000;
transition: all 0.4s ease 0s;
}

#page-content-wrapper {
width: 100%;
}

.sidebar-nav {
position: absolute;
top: 0;
width: 250px;
list-style: none;
margin: 0;
padding: 0;
}

.sidebar-nav li {
line-height: 40px;
text-indent: 20px;
}

.sidebar-nav li a {
color: #999999;
display: block;
text-decoration: none;
}

.sidebar-nav li a:hover {
color: #fff;
background: rgba(255,255,255,0.2);
text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
height: 65px;
line-height: 60px;
font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
color: #fff;
background: none;
}

.content-header {
height: 65px;
line-height: 65px;
}

.content-header h1 {
margin: 0;
margin-left: 20px;
line-height: 65px;
display: inline-block;
}

#menu-toggle {
display: none;
}

.inset {
padding: 20px;
}

@media (max-width:150px) {

#wrapper {
padding-left: 0;
}

#sidebar-wrapper {
left: 0;
}

#wrapper.active {
position: relative;
left: 250px;
}

#wrapper.active #sidebar-wrapper {
left: 250px;
width: 250px;
transition: all 0.4s ease 0s;
}

#menu-toggle {
display: inline-block;
}

.inset {
padding: 15px;
}

}
.space {
float: left;
margin-right: 10px;
}
.D1{
 margin-top: 100px;
}
.lbl1{
font-weight: bold;
 margin-right: 50px;
 margin-left: 50px;
 margin-top: 10px;
color: white;
}

.lbl2{
font-weight: bold;
 margin-right: 50px;
 margin-left: 400px;
 margin-top: 25px;
color: firebrick;
}

.bg {
/* The image used */
background-image: url("/assets/images/stock6.jpg");

/* Full height */
height: 100%; 

/* Center and scale the image nicely */
background-position: right;
background-repeat: no-repeat;

}

.bgtbls{
/* The image used */

background-color: #1d2025;
/* Full height */
height: 100%; 

/* Center and scale the image nicely */
background-position: center;
background-repeat: no-repeat;
background-size: cover;

}

.black {
color:#000;
}

.white {
  color:white;
  }

.red{
  color: rgb(204, 26, 62);
}

.trans{
background-color: #1f2736;
opacity: 0.8;
filter: alpha(opacity=60);
}

.transbox{
  background-color: #1f2736;
  opacity: 0.8;
  filter: alpha(opacity=60);
  border-radius: 25px;
  border-color: white;
  }

h5{
color: indigo;
}
h4{
color: mediumblue;
}

@keyframes Ptext {
50%{color: lightslategray}
}
#LoadIcon
{
margin-top: 10px;
}
#google,#yahoo,#amazon,#microsoft
{
 width: 100px;
height: 100px; 
}
#google
{
margin-right: 125px;
margin-left: 100px;
animation: google 5s infinite;

}
@keyframes google {
50% {opacity: 0;}
}

#yahoo{
margin-right: 125px;
animation: yahoo 8s infinite;

}
@keyframes yahoo {
50% {opacity: 0;}
}

#amazon{
margin-right: 125px;
animation: amazon 10s infinite;

}
@keyframes amazon {
50% {opacity: 0;}
}

#microsoft{
margin-right: 125px;
animation: microsoft 6s infinite;

}
@keyframes microsoft {
50% {opacity: 0;}
}