<app-sidebar></app-sidebar>
<div class="modal-body" style="background: #d6e5ff;margin-left: 250px">
  <app-header></app-header>
  <img id="Ticon"src="assets/images/Ticon.png" alt="">
  <h2 id="transaction">Bank Transactions</h2>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Turn</th>
        <th>Transceiver</th>
        <th>Price</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let info of bankInfo">
        <td>{{info.Turn}}</td>
        <td>{{info.Transceiver}}</td>
        <td>{{info.Price}}</td>
        <td>{{info.Status}}</td>
      </tr>
    </tbody>
  </table>
  <div id ="LoadIcon" >
    <img id="google"src="assets/images/google.png" alt="">
    <img id="amazon"src="assets/images/amazon.png" alt="">
    <img id="yahoo"src="assets/images/yahoo.png" alt="">
    <img id="microsoft"src="assets/images/microsoft.png" alt="">
  </div>
</div>
