<app-sidebar></app-sidebar>
<!--<p>
  bank-transaction works!
</p>-->
<div class="modal-body" style="background: #555555;margin-left: 250px">
 <div class="row row-flex-box" style="background: rgba(168, 59, 59);">
    <div class="col-xs-6 col-sm-6 col-md-3">
      <div class="thumbnail flex-col-vertical-center">
        <div class="caption">
          <H4>
            <span class="t1">Transaction History</span>
            </H4>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-6  col-md-3">
      <div class="thumbnail flex-col-vertical-center">
        <div class="caption" style="margin-left: 250px;">
          <H4>
            <span>{{this.player}}</span>
          </H4>
        </div>
      </div>
    </div>
  
  </div></div>