<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="NextGenStockMarket">
    <title>NextGen Stock Market</title>
    <link href="https://getbootstrap.com/docs/3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/3.3/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/3.3/examples/sticky-footer/sticky-footer.css" rel="stylesheet">
    <script src="https://getbootstrap.com/docs/3.3/assets/js/ie-emulation-modes-warning.js"></script>
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h1>NextGen Stock Market Simulation API</h1>   
        </div>
        <h3>Contributors</h3>
        <ul>
            <li>Salmaan Mohamed (Lead)</li>
            <li>Thathsarani Madushika</li>
            <li>Amendra Botejue</li>
            <li>Buddhi Kavee</li>
            <li>Amila</li>
            <li>Chamini Makawita</li>
        </ul>
        <a href="/swagger" class="btn btn-primary btn-lg">View Api</a>
    </div>

    <footer class="footer">
        <div class="container">
            <p class="text-muted">by NextGen</p>
        </div>
    </footer>
    <script src="https://getbootstrap.com/docs/3.3/assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
