<div class="row row-flex-box" style="background: #cbd0d8;">
  <div class="col-xs-6 col-sm-6 col-md-3">
    <div class="thumbnail flex-col-vertical-center">
      <div class="caption">
        <H5>
          <span>
            <strong>Balance:</strong>
          </span>
          <span>${{this.balance}}</span>
        </H5>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-sm-6  col-md-3">
    <div class="thumbnail flex-col-vertical-center">
      <div class="caption">
        <H5>
          <span>
            <strong>Currnt Turn:</strong>
          </span>
          <span>{{currentTurn}}</span>
        </H5>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-sm-6  col-md-3">
    <div class="thumbnail flex-col-vertical-center">
      <div class="caption">
        <H5>
          <span>
            <strong>Total # of Turns:</strong>
          </span>
          <span>{{totalTurns}}</span>
        </H5>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-sm-6  col-md-3">
    <div class="thumbnail homepage-slider-bottom-block-single flex-col-vertical-center">
      <div class="caption">
        <H5>
          <span>
            <strong>Player:</strong>
          </span>
          <span>{{this.player}}</span>
        </H5>
      </div>
    </div>
  </div>
</div>