<!-- Sidebar -->
<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
      <img id="Shome"src="assets/images/home.png" alt="">
      <a (click)="goToHome()"  id="listHome">Home</a>
    </li>
    <li>
      <img id="Shome"src="assets/images/transaction.png" alt="">
      <a (click)="goToBankTransactions()" id="listHome">Bank Transactions</a>
    </li>
    <li>
      <img id="Shome"src="assets/images/portofilo.png" alt="">
      <a (click)="goToPlayerPortFolio()" id="listHome">Player PortFolio</a>
    </li>

  </ul>
  <div id="Simage">    
    <img id="SBimage1"src="assets/images/sidebar1.png" alt="">
  </div>
</div>