PFicon{
    width: 50px;
    height: 50px;
}
#invester{
   width: 60px;
    height: 60px; 
    margin-top:30px;

}
#portfilo{
    
    margin-left: 80px;
    margin-top:  -40px;
    animation: Ptext 5s infinite;
}
 

@keyframes Ptext {
    50%{color: lightslategray}
}

#table{
    margin-top: 40px;
    background-color: powderblue;
}
#Ptable
 {
     width: 300px;
     height: 200px;
     margin-left: 750px;
     animation: visiblechart 10s infinite;


 }
 @keyframes visiblechart {
    50% {opacity: 0;}
}