<app-sidebar></app-sidebar>
<div class="modal-body" style="background: #d6e5ff;margin-left: 250px">
    <app-header></app-header>

    <div class="row" style="margin-top: 30px;">
        <div class="col-4">
            <b> Select Sector : </b>
            <select class="form-control" [(ngModel)]="selectedSector" (change)="getStocks()">
                <option>Select a Sector</option>
                <option *ngFor="let sector of sectors">{{sector}}</option>
            </select>
            <small *ngIf="selectedSector == undefined && isFormSubmitted">
                Sector is Required
            </small>
        </div>
        <div class="col-6">
            <b> Select stock : </b>
            <select class="form-control" [(ngModel)]="selectedStock">
                <option selected>Select a Stock</option>
                <option *ngFor="let stock of stocks">{{stock.SectorName}}</option>
            </select>

            <small *ngIf="selectedStock ==undefined && isFormSubmitted">
                Stock is Required
            </small>
        </div>
        <button class="btn btn-primary" (click)="generate()" style="height: 40px; margin-top: 22px;margin-left: 25px;">Generate</button>
    </div>
    <br/>
    <hr/>

    <div id="chartTarget2" #chartTarget></div>

    <div class="row" >
        <h1 id="anlyst" class="analyst">Analyst Information</h1>
    </div>
    <hr/>

    <div class="row" style="padding-left: 90px;">
        <div class="col-6">
            <label style="margin-top: 20px;">
                <strong class="selected">&#8593; Best stock to purchase </strong>
            </label>
            <br/><label style="margin-left: 10px; width: 120px;"><b>Sector to Buy :</b> </label><label id="sector"> {{minStocks.Sector}}</label>
            <br/><label style="margin-left: 10px; width: 120px;"><b>Stock to Buy :</b></label> <label id="stock"> {{minStocks.Stock}}</label>
        </div>
        <div class="col-6">
            <label style="margin-top: 20px;">
                <strong class="selected">&#8595; Best stock to sell</strong>
            </label>
            <br/> <label style="margin-left: 10px; width: 120px;"><b> Sector to Sell :</b></label><label id="sector">  {{maxStocks.Sector}}</label>
            <br/> <label style="margin-left: 10px; width: 120px;"><b>Stock to Sell : </b></label><label id="stock"> {{maxStocks.Stock}}</label>
        </div>
    </div>

    <div class="row"  style="padding-left: 85px;">
        <div class="col-6">
            <label style="margin-top: 20px;margin-left: 10px;" id="best">
                <strong class="selected">Best sector to purchase</strong>
            </label>
            <br/><label style="margin-left: 50px;"> {{minSectors}}</label>
        </div>
        <div class="col-6">
            <label style="margin-top: 20px;margin-left: 10px;" id="best">
                <strong class="selected">Best sector to sell</strong>
            </label>
            <br/> <label style="margin-left: 50px;">{{this.maxSectors}}</label>
        </div>
        
    </div>
     
</div>