<app-sidebar></app-sidebar>
<div class="modal-body" style="background: #d6e5ff;margin-left: 250px">
    <app-header></app-header>

    <div class="row">
        <div class="col-4">
            <b> Select Sector : </b>
            <select class="form-control" [(ngModel)]="selectedSector" (change)="getStocks()">
                <option>Select a Sector</option>
                <option *ngFor="let sector of sectors">{{sector}}</option>
            </select>
            <small *ngIf="selectedSector == undefined && isFormSubmitted">
                Sector is Required
            </small>
        </div>
        <div class="col-6">
            <b> Select stock : </b>
            <select class="form-control" [(ngModel)]="selectedStock">
                <option selected>Select a Stock</option>
                <option *ngFor="let stock of stocks">{{stock.SectorName}}</option>
            </select>

            <small *ngIf="selectedStock ==undefined && isFormSubmitted">
                Stock is Required
            </small>
        </div>
        <button class="btn btn-primary" (click)="generate()">Generate</button>
    </div>
    <br/>
    <hr/>

    <div id="chartTarget2" #chartTarget></div>

    <div class="row">
        <b>Analyst Information</b>
    </div>

    <div class="row">
        <div class="col-6">
            <label>
                <strong>Best stock to purchase</strong>
            </label>
            <br/> Sector to Buy : {{minStocks.Sector}}
            <br/> Stock to Buy : {{minStocks.Stock}}
        </div>
        <div class="col-6">
            <label>
                <strong>Best stock to sell</strong>
            </label>
            <br/> Sector to Sell : {{maxStocks.Sector}}
            <br/> Stock to Sell : {{maxStocks.Stock}}
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <label>
                <strong>Best sector to purchase</strong>
            </label>
            <br/> {{minSectors}}
        </div>
        <div class="col-6">
            <label>
                <strong>Best sector to sell</strong>
            </label>
            <br/> {{this.maxSectors}}
        </div>
        
    </div>
     <div class="row">
      <div class="col-5 transbox white col-md-offset-2" style="margin-right: 5%; margin-left: 5%; padding:15px; ">
        <label style="margin-left: 48%;">
          <h5 class="white">
            Market Trend 
          </h5>
        </label>
        <div class="row">
          <div class="col-9">
            <label>
              <b> Sector Trend </b>
            </label><br>
            <label>Buy : </label>
            <input type="text" [min]=0 class="form-control"style=" width: 150px;margin-left: 60px;margin-top: -35px;">
            <br><br>
            <label>Sell: </label>
            <input type="text" [min]=0 class="form-control"style=" width: 150px;margin-left: 60px;margin-top: -35px;">
            </div></div>
            <div class="row">
  
          <div class="col-9" style="margin-left: 450px; margin-top: -142px;">
            <label>
              <b style="width: 150px"> Stock Trend </b>
            </label><br>
            <label style="width: 75px">Buy : </label>
            <input type="text" [min]=0 class="form-control"style=" width: 150px;margin-left: 60px;margin-top: -35px;"> <br><br>
            <label>Sell: </label>
            <input type="text" [min]=0 class="form-control"style=" width: 150px;margin-left: 60px;margin-top: -35px;">
           
            </div></div>
            </div></div>
</div>